!!! 5
%html
  %head
    %title Honeymoon
    %link{rel: 'stylesheet', href: stylesheet_path('app')}

  %body
    %section.column.main
      %header.main-title
        %h1 Honeymoon!
        %h3 Giacomo + Virginia
      %p
        %a{href: url('gifts/new')} New Gift


    %section.column.column-double
      %ul.goals
        - @completed_goals.each do |goal|
          %li.goal
            %h2.goal-title= goal['name']
            

        %li.goal
          %h2.goal-title= @current_goal['name']
          %img.goal-icon{src: image_path('goals/' + @current_goal['image']), alt: @current_goal['name']}
          %article
            %p.goal-description= @current_goal['description']

            .goal-bar
              .goal-bar-value{style: 'width: ' + (100*@current_goal[:completed_fraction]).to_s + '%;'}

        - @next_goals.each do |goal|
          %li.goal
            %h2.goal-title= goal['name']