= haml :_head

%body.full-width
  %header.hero
    .hero-container
      


  %section.container

    %section.column
      %p ciao

    %section.column.column-double
      %header
        %h1.main-header 
          Giacomo + Virginia

      
      %article
        %p= t('test')


= haml :_foot