!!! 5
%html
  %head
    %title

  %body
    %h1 Honeymoon!


    %ul
      - @goals_with_status.each do |goal|
        %li
          = goal[:goal]['name']
          = "(#{goal[:completed_fraction]})"
    