@import compass

body 
  font:
    family: Roboto, sans-serif
    size: 18px
    weight: 300
  line-height: 27px
  color: #555
  background: whiteSmoke
  margin: 0

a, a:hover, a:visited
  color: #555
  text-decoration: none
  border-bottom: 1px solid #555

h1, h2, h3
  margin: 0 0 18px
  font-family: 'Dancing Script', cursive

h1
  font-size: 3.998em
  line-height: 1.126em

h2
  font-size: 2.827em
  line-height: 1.062em

h3
  font-size: 1.999em
  line-height: 1.251em

small, .small
  font-size: .707em

p 
  margin: 0 0 18px

b 
  font-weight: 400

ul 
  margin: 0

label 
  display: none

form
  +clearfix
  margin-bottom: 18px

input[type=text], input[type=submit], select
  font:
    family: Roboto, sans-serif
    size: 1em
    weight: 300
  line-height: 27px

  width: 100%
  padding: 10px 9px
  +box-sizing(border-box)
  border: 1px solid #ddd
  +border-radius(4px)  

  &:focus
    outline: none

footer
  margin-top: 36px