@import compass
@import susy

body:not(.full-width) 
  +container

.container
  +container

.column 
  +span-columns(4)
  +box-sizing(border-box)

  &:last-of-type:not(:first-of-type)
    +omega

.column-double 
  +span-columns(8)


.column.column-center
  +pre(4)
  +post(4)

.column-double.column-center 
  +pre(2)
  +post(2)


.column-right
  +omega

.alone
  margin-top: 36px


$footer_text_color: lighten(#555, 40%)

.footer
  +span-columns(12)
  margin: 90px 0 18px

  font-size: .707em
  text-align: center
  color: $footer_text_color

  a 
    color: $footer_text_color
    border-bottom-color: $footer_text_color
  
