@import vars
@import compass
@import susy
$colours: #fb8d78, #fa8a9a, #e691bb, #c19fd3, #8faddb, #58b7d1, #33bdb8, #48bf94, #72bc6e, #9db54f, #c5a941, #e89a4c, #ff8b68


.goals
  list-style-type: none
  padding-left: 0

.goals-desc
  +at-breakpoint($tablet-and-desktop)
    position: fixed
    padding-top: 36px

.goals-desc-title
  +text-shadow(1px 1px 0 #fff)
  padding: 0 10px           // fix rendering issues with curly font
  margin-left: -10px

.goal 
  display: block
  margin-bottom: 18px
  padding: 18px 2em
  +box-sizing(border-box)
  +clearfix
  color: whiteSmoke

.goal:first-of-type
  margin-top: 108px
    
.goal:last-of-type
  margin-bottom: calc(100% - 108px)

.goal-title
  color: #fff

.goal-icon
  float: right
  max-width: 100%
  margin-left: 2em

.goal-bar
  background: #eee
  margin: 36px 0

.goal-bar-value
  background: #ccc
  height: 36px

@for $i from 1 through length($colours)

  $colour: nth($colours, $i)

  .goal:nth-of-type(#{$i})
    background: $colour
    //+text-shadow(1px -1px 0 darken($colour, 10%))