@import compass
@import susy

.main-header 
  margin-top: calc(-1em - 18px)
  color: whiteSmoke

  margin-bottom: 36px

.main-hero
  +background(linear-gradient(top left, darken(red, 20%), yellow))

.main-hero-image
  position: relative
  bottom: -72px


.main-honeymoon-card
  margin: 72px 0 36px
  padding: 18px 0 0

  +background(linear-gradient(top left, #33bdb8, #58b7d1))
  
.main-honeymoon-card-container
  background: transparent image_url('hawaiian_flower.png') 15% center no-repeat 

  color: white
  //+text-shadow(1px -1px 0 darken(#33bdb8, 10%))

  a, a:hover, a:visited
    color: white
    border-bottom-color: white


.main-honeymoon-card-link 
  margin: 36px 0