= haml :_head

%body
  %form.column.column-center{action: url('/honeymoon/gifts'), method: 'post'}
    
    %header
      %h1 Add a Gift

    .field.field-with-icon
      %label{for: 'name'} Name
      %input#name{name: 'name', type: 'text', placeholder: 'first and last name'}
    
    .field.field-with-icon
      %label{for: 'email'} Email
      %input#email{name: 'email', type: 'text', placeholder: 'email'}
    
    .field.field-amount
      %label{for: 'amount'} Amount
      %select.field-amount-currency{name: 'currency'}
        %option{value: 'euro'} &euro;
        %option{value: 'pound'} &pound;   
        %option{value: 'dollar'} &dollar;   
      %input#amount.field-amount-value{name: 'amount', type: 'text', placeholder: '123'}
    
    .field.field-submit
      %input{type: 'submit'}

= haml :_foot
