= haml :_head

%body
  
  %section.column.column-center 
    %header
      %h1 Thanks

      %article
        for your  
        %h3 
          #{@gift['amount']['value_original']},
          %span.small> 00 
          #{' ' + @gift['amount']['currency'].to_currency_symbol}
        contribution to our hawaiian dream!


  %p
    %a{href: url('/honeymoon')} Goals list

= haml :_foot